exportPattern("^[[:alpha:]]+")
#' @import ggthemes
#' @import rstan
#' @import rstantools
#' @import Rcpp
#' @import tidyverse
#' @import scales
useDynLib(StanBayesianErrorsMonoModels, .registration = TRUE)
